.image-upload-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.form-conteiner {
    background-color: #111826;
    width: 900px;
    height: 550px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0 0 30px #06080c18;
    color: white;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-title {
    color: white;
    margin: 30px;
    text-align: center;
}

.input-form,
.select-form {
    margin-left: 20px;
    border: none;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    font-size: 18px;
    padding-left: 20px;
    color: #525252;
    margin: 20px;
}

.button-form {
    background-color: #1f283a;
    border: 1px solid #aec5f5;
    height: 40px;
    border-radius: 30px;
    padding: 0 40px;
    color: #aec5f5;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    transition: all .3s;
}

.button-form:hover {
    background-color: #2f3c57;
}

.preview-conteiner {
    height: 100%;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.preview-title {
    margin-bottom: 40px;
}

.image-preview {
    height: 250px;
    width: 400px;
    border-radius: 20px;
    background-color: #1f283a;
}

.textarea-form {
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 20px;
    resize: none;
    width: 300px;
    margin: 20px;
    font-size: 18px;
    color: #525252;
}