.form-conteiner-in {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #0B0F17;;
}

.login-conteiner-in {
    background-color: #111826;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 30px #06080c18;
    padding: 40px;
}

.form-in {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-title-in {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.input-form-in {
    border: none;
    width: 280px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    color: #525252;
    margin-bottom: 20px;
}

.button-form-in {
    background-color: #1f283a;
    border: 1px solid #aec5f5;
    height: 40px;
    border-radius: 5px;
    padding: 0 40px;
    color: #aec5f5;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: all .3s;
}

.button-form-in:hover {
    background-color: #2f3c57;
}

.icon-login-in{
    width: 100px;
    height: auto;
    color: white;
    margin-bottom: 20px;
}