.navbar-conteiner{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #111826;
    color: white;
    height: 70px;
    width: 100%;
    font-size: 16px;
    box-shadow: 0 0 20px #06080c77;
    position: sticky;
    top: 0;
}

.circle-logo{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: white;
}

.logo-conteiner{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.image-logo{
    font-size: 20px;
    margin-left: 20px;
}

.search-conteiner > form {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.search-textfield{
    margin-left: 20px;
    border: none;
    width: 400px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    font-size: 18px;
    padding-left: 20px;
    color: #525252;
}


.start-conteiner{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.start-button{
    text-decoration: none;
    color: white;
}

.start-conteiner a {
    margin-left: 20px;
}