body::-webkit-scrollbar {
    width: 18px;
}
  
body::-webkit-scrollbar-track {
    background: #0B0F17; 
}
  
body::-webkit-scrollbar-thumb {
    background-color: #161e2e;
    border-radius: 20px;
    border: 3px solid #0B0F17;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #253046;
}